%h1= @login
%br
="Top3 langage use:"
-if @language.empty?
  ="No info"
-else
  =@language
%br
%h2 Repos listes
%br
="Repos Numbers : #{@total}"
%br
%table
  %thead
    %tr
      %th name
      %th language
      %th contrib
    %tbody
    -@repos.each do |repo|
      %tr
        %td= repo.name
        %td
          -if controller.action_name.eql?'history'
            = repo.language
          -else
            -repo.languages.nodes.each do |l|
              =l.name
        %td{id: "info_repo_#{repo.name}"}= button_to 'see', "/repo", :remote => true , params: { name: @login ,repo: repo.name }



