-if @contribution['message']
  ="No information"
-else
  ='Contribution'
  -if @contribution['contribution'].eql? 0
    = @contribution['contribution']
  -else
    ="#{@contribution['contribution']}, #{@contribution['stats_contrib']}%"
  -if @contribution['rank'].eql? 'unranked'
    = @contribution['rank']
  -else
    = "top #{@contribution['rank']} contributors"
  %br/